h1 {
	color: whitesmoke;

}
body {
	position: relative;
	padding: 0;
	margin: 0;
	width: 1440px;
	color: #000;
}

.header {
	background: url('../image/bg.jpg') no-repeat center top / cover;
	min-height: 1000px;
}
h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
}

.logotip {
	width: 102px;
	margin: 0 auto;
	padding-top: 41px;
}

.header .container1 {
	min-height: 1000px;
	text-align: center;
}

.nav h1 {
	font-size: 60px;
	color: #fff;
	margin-top: 376px;
	margin-bottom: 0;
	font-family: "Abhaya Libre", serif;
  	font-weight: 500;
  	font-style: normal;
}

.nav h4 {
	font-size: 16px;
	color: #fff;
	margin-top: 21px;
	font-family: "Abhaya Libre", serif;
  	font-weight: 500;
  	font-style: normal;
}

.container3{
	display: flex;
	width: 1440px;
}

.container3 .menu {
	display: flex;
	padding-left: 0;
}

.logotip_black {
	margin-left: 251px;
	margin-right: 460.47px;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 23px;
	font-family: "Bebas Neue", sans-serif;
	margin-right: 36px;
	color: rgba(72, 85, 91, 1);
}

.menu li a1 {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 23px;
	font-family: "Bebas Neue", sans-serif;
	margin-right: 40px;
	color: rgba(0, 164, 229, 1);
}

.container4 {
	height: auto;
	display: flex;
}

.out-story h2 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
	text-align: center;
	font-size: 18px;
	padding-top: 57px;
	color: rgba(72, 85, 91, 1);
	letter-spacing: 2.31px;
}

.left-side p6 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
    font-size: 20px;
    line-height: auto;
    color: rgba(72, 85, 91, 1);
}

.left-side {
	margin-left: 251px;
	margin-top: 92px;
}

.left-side .text-p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	padding-top: 30px;
	letter-spacing: 0.19px;
	width: 405.08px;
	height: 115px;
}

.right-side {
	display: flex;
	margin-top: 120px;
	height: 224px;
	margin-left: 77px;
}

.right-side img {
	margin-right: 20px;
	width: 140px;
	height: 224px;
}

.container4 .right-side {
	margin-bottom: auto;
	display: flex;
	align-items: flex-end;
}

.delete-me {
	padding-top: 300px;
}

.container5 {
	display: flex;
	margin-top: 118px;
	margin-left: 250px;
}

.container5 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
    color: rgba(72, 85, 91, 1);

}
.container5 p2 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
    margin-left: 154px;
    font-size: 11px;
    line-height: 19px;
    width: 405.4px;
    height: 25px;
}

.container5 .btn-main {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
	margin-left: 32px;
	display: inline-block;
	letter-spacing: 0.2px;
	font-size: 13px;
	text-align: center;
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: rgba(0, 164, 229, 1);
	border: none;
}

.container6 {
	display: flex;
	margin-left: 250px;
	margin-top: 78px;
}

.container6 img {
	margin-top: 38px;
	margin-left: 23px;
	margin-bottom: 25px;
	margin-right: 206.38px;
}

.container6 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-size: 16px;
  	letter-spacing: 0.43px;
  	line-height: 24px;
  	color: rgba(72, 85, 91, 1);
  	margin-right: 22px;
  	width: 250px;
  	height: auto;
  	text-align: left;
}

.container6 p2 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-size: 13px;
  	letter-spacing: 0.19px;
  	line-height: 23px;
}

.container6 .box1, .box2, .box3 {
	width: 295px;
	height: 330px;
	border: 0.1px solid rgba(230, 230, 230, 1);

}
.box2 {
	margin-left: 28px;
	margin-right: 27px;
}

.text-padding {
	margin-left: 23px;
	margin-right: 22px;
}
.text-padding2 {
	margin-left: 23px;
	margin-right: 22px;
	margin-top: 13px;
}

.container7 {
	height: auto;
	background: url('../image/bg-2.jpg') no-repeat center / cover;
	min-height: 497px;
}

.container7 .texxt {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	color: rgba(72, 85, 91, 1);
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.15px;
	line-height: 36px;
	width: 350px;
	height: 72px;
	margin-left: 545px;
	padding-top: 120px;
}

.container7 .btn-2 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 164, 229, 1);
	border: none;
	position: relative;
	width: 150px;
	height: 40px;
	padding: 0;
}

.btn-2-pos {
	margin-left: 645px;
	margin-top: 35px;
}

.container8 {
	display: flex;
	width: 1440px;
	height: 100px;
	background-color: rgba(23, 24, 25, 1);

}
.nav2 {
	display: flex;
	margin-top: 30px;
	margin-left: 378px;
	margin-right: 370px;
	margin-bottom: 30px;
}
.container8 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
	letter-spacing: 0.85px;
	line-height: auto;
	font-size: 22px;
	color: #fff;
	text-align: left;
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 70px;
}

.search-bar {
	width: 250px;
	height: 40px;
	padding: 0;
	bottom: 0;
	border: none;

}

.container8 .btn-3 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 164, 229, 1);
	border: none;
	position: relative;
	width: 150px;
	height: 40px;
	padding: 0;
}

.container9 {
	display: flex;
	background-color: rgba(20, 26, 32, 1);
	width: 1440px;
	height: 240px;
}

.container9 .col1 {
	margin-left: 249px;
	padding-top: 42px;
	width: 250px;
	height: 148px;
}

.container9 .col1 p1{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: #fff;

}
.container9 .logotip {
	padding: 0;
	margin-top: 19px;
	margin-bottom: 15px;
}

.container9 .col2 {
	margin-left: 71px;
	padding-top: 42px;
}
.container9 .col1 p2{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: #fff;
	line-height: 19px;
	width: 34px;	
	height: 15px;	
}

.container9 .col2 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: #fff;

}	

.container9 .col2 p2{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-size: 11px;
  	letter-spacing: 0.85px;
  	color: #fff;
}

.container9 .col2 .col2-1 li {
	margin-top: 10px;
}

.container9 .col3 {
	margin-left: 34px;
	padding-top: 42px;
}

.container9 .col3 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: rgba(20, 26, 32, 1);

}	

.container9 .col3 p5{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-size: 11px;
  	letter-spacing: 0.85px;
  	color: #fff;
}

.container9 .col3 .col3-1 li {
	margin-top: 10px;
}

.container9 .col4 {
	margin-left: 34px;
	padding-top: 42px;
}

.container9 .col4 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: rgba(20, 26, 32, 1);

}	

.container9 .col4 p5{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-size: 11px;
  	letter-spacing: 0.85px;
  	color: #fff;
}

.container9 .col4 .col4-1 li {
	margin-top: 10px;
}




.container9 .col5 {
	margin-left: 34px;
	padding-top: 42px;
}

.container9 .col5 p1 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: #fff;

}	

.container9 .col5 {
	width: 141px;
	height: 128px;
}

.container9 .col5 p5{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-size: 11px;
  	letter-spacing: 0.85px;
  	color: #fff;
}

.container9 .col5 .col5-1 li {
	margin-top: 10px;
}